# The GCP project identifier to use
project_id  = "my-gcp-project"

# The single Compute Engine region where the resources will be created
region = "us-west1"

# Optional labels to add to resources
labels = {
    "owner" = "tester-name"
}

# Optional source CIDRs that will be permitted to access BIG-IP management interface; empty set (default) will autodetect
# user's address.
admin_source_cidrs = [
  "100.101.102.103/32",
]
